In [2]:
'''EDA-2 Assignment'''
pip install ppscore

Requirement already satisfied: ppscore in c:\users\nazim\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\nazim\anaconda3\lib\site-packages (from ppscore) (1.5.3)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\nazim\anaconda3\lib\site-packages (from ppscore) (1.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\nazim\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nazim\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\nazim\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in c:\users\nazim\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\nazim\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nazim\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\nazim\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
df=pd.read_csv('adult_with_headers.csv')
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [2]:
df.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [5]:
#apply standardization for numerical variables

from sklearn.preprocessing import StandardScaler

# Selecting numerical columns
numerical_cols = df.select_dtypes(include=['float', 'int']).columns

# Creating a StandardScaler object
scaler = StandardScaler()

# Fitting and transforming the numerical columns
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])
df[numerical_cols]

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429
...,...,...,...,...,...,...
32556,-0.849080,0.639741,0.746039,-0.145920,-0.21666,-0.197409
32557,0.103983,-0.335433,-0.420060,-0.145920,-0.21666,-0.035429
32558,1.423610,-0.358777,-0.420060,-0.145920,-0.21666,-0.035429
32559,-1.215643,0.110960,-0.420060,-0.145920,-0.21666,-1.655225
32560,0.983734,0.929893,-0.420060,1.888424,-0.21666,-0.035429

In [6]:
#Apply One-Hot Encoding to categorical variables with less than 5 categories.

import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Selecting categorical columns with less than 5 categories
categorical_cols = [col for col in df.select_dtypes(include=['object']).columns if df[col].nunique() < 5]

# Creating a OneHotEncoder object
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

# Fitting and transforming the categorical columns
encoded_data = encoder.fit_transform(df[categorical_cols])

# Creating a DataFrame from the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))

# Concatenating the encoded DataFrame with the original DataFrame
df = pd.concat([df.drop(categorical_cols, axis=1), encoded_df], axis=1)
df

C:\Users\nazim\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K
0,0.030671,State-gov,-1.063611,Bachelors,1.134739,Never-married,Adm-clerical,Not-in-family,White,0.148453,-0.21666,-0.035429,United-States,0.0,1.0,1.0,0.0
1,0.837109,Self-emp-not-inc,-1.008707,Bachelors,1.134739,Married-civ-spouse,Exec-managerial,Husband,White,-0.145920,-0.21666,-2.222153,United-States,0.0,1.0,1.0,0.0
2,-0.042642,Private,0.245079,HS-grad,-0.420060,Divorced,Handlers-cleaners,Not-in-family,White,-0.145920,-0.21666,-0.035429,United-States,0.0,1.0,1.0,0.0
3,1.057047,Private,0.425801,11th,-1.197459,Married-civ-spouse,Handlers-cleaners,Husband,Black,-0.145920,-0.21666,-0.035429,United-States,0.0,1.0,1.0,0.0
4,-0.775768,Private,1.408176,Bachelors,1.134739,Married-civ-spouse,Prof-specialty,Wife,Black,-0.145920,-0.21666,-0.035429,Cuba,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,Private,0.639741,Assoc-acdm,0.746039,Married-civ-spouse,Tech-support,Wife,White,-0.145920,-0.21666,-0.197409,United-States,1.0,0.0,1.0,0.0
32557,0.103983,Private,-0.335433,HS-grad,-0.420060,Married-civ-spouse,Machine-op-inspct,Husband,White,-0.145920,-0.21666,-0.035429,United-States,0.0,1.0,0.0,1.0
32558,1.423610,Private,-0.358777,HS-grad,-0.420060,Widowed,Adm-clerical,Unmarried,White,-0.145920,-0.21666,-0.035429,United-States,1.0,0.0,1.0,0.0
32559,-1.215643,Private,0.110960,HS-grad,-0.420060,Never-married,Adm-clerical,Own-child,White,-0.145920,-0.21666,-1.655225,United-States,0.0,1.0,1.0,0.0
32560,0.983734,Self-emp-inc,0.929893,HS-grad,-0.420060,Married-civ-spouse,Exec-managerial,Wife,White,1.888424,-0.21666,-0.035429,United-States,1.0,0.0,0.0,1.0

In [7]:
#Use Label Encoding for categorical variables with more than 5 categories.

from sklearn.preprocessing import LabelEncoder

# Selecting categorical columns with more than 5 categories
categorical_cols = [col for col in df.select_dtypes(include=['object']).columns if df[col].nunique() >= 5]

# Creating a LabelEncoder object
label_encoder = LabelEncoder()

# Fitting and transforming the categorical columns
for col in categorical_cols:
    df[col] = label_encoder.fit_transform(df[col])
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K
0,0.030671,7,-1.063611,9,1.134739,4,1,1,4,0.148453,-0.21666,-0.035429,39,0.0,1.0,1.0,0.0
1,0.837109,6,-1.008707,9,1.134739,2,4,0,4,-0.145920,-0.21666,-2.222153,39,0.0,1.0,1.0,0.0
2,-0.042642,4,0.245079,11,-0.420060,0,6,1,4,-0.145920,-0.21666,-0.035429,39,0.0,1.0,1.0,0.0
3,1.057047,4,0.425801,1,-1.197459,2,6,0,2,-0.145920,-0.21666,-0.035429,39,0.0,1.0,1.0,0.0
4,-0.775768,4,1.408176,9,1.134739,2,10,5,2,-0.145920,-0.21666,-0.035429,5,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,4,0.639741,7,0.746039,2,13,5,4,-0.145920,-0.21666,-0.197409,39,1.0,0.0,1.0,0.0
32557,0.103983,4,-0.335433,11,-0.420060,2,7,0,4,-0.145920,-0.21666,-0.035429,39,0.0,1.0,0.0,1.0
32558,1.423610,4,-0.358777,11,-0.420060,6,1,4,4,-0.145920,-0.21666,-0.035429,39,1.0,0.0,1.0,0.0
32559,-1.215643,4,0.110960,11,-0.420060,4,1,3,4,-0.145920,-0.21666,-1.655225,39,0.0,1.0,1.0,0.0
32560,0.983734,5,0.929893,11,-0.420060,2,4,5,4,1.888424,-0.21666,-0.035429,39,1.0,0.0,0.0,1.0

In [10]:
#Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

# Creating a new feature 'hours_per_week_squared'
df['hours_per_week_squared'] = df['hours_per_week'] ** 2
# Rationale: This feature captures potential non-linear relationships between 
# working hours and income. It could be that people working extremely long hours
# or very few hours have different income patterns than those working a standard week.
 
# Creating a new feature 'is_high_education'
df['is_high_education'] = df['education'].apply(lambda x: 1 if x in [12, 13, 14, 15] else 0) 
# Rationale: Grouping higher education levels together might provide a stronger 
# signal for income prediction compared to treating each level individually. 
# This assumes a general trend of higher income with higher education.
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K,hours_per_week_squared,is_high_education
0,0.030671,7,-1.063611,9,1.134739,4,1,1,4,0.148453,-0.21666,-0.035429,39,0.0,1.0,1.0,0.0,0.001255,0
1,0.837109,6,-1.008707,9,1.134739,2,4,0,4,-0.145920,-0.21666,-2.222153,39,0.0,1.0,1.0,0.0,4.937964,0
2,-0.042642,4,0.245079,11,-0.420060,0,6,1,4,-0.145920,-0.21666,-0.035429,39,0.0,1.0,1.0,0.0,0.001255,0
3,1.057047,4,0.425801,1,-1.197459,2,6,0,2,-0.145920,-0.21666,-0.035429,39,0.0,1.0,1.0,0.0,0.001255,0
4,-0.775768,4,1.408176,9,1.134739,2,10,5,2,-0.145920,-0.21666,-0.035429,5,1.0,0.0,1.0,0.0,0.001255,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,4,0.639741,7,0.746039,2,13,5,4,-0.145920,-0.21666,-0.197409,39,1.0,0.0,1.0,0.0,0.038970,0
32557,0.103983,4,-0.335433,11,-0.420060,2,7,0,4,-0.145920,-0.21666,-0.035429,39,0.0,1.0,0.0,1.0,0.001255,0
32558,1.423610,4,-0.358777,11,-0.420060,6,1,4,4,-0.145920,-0.21666,-0.035429,39,1.0,0.0,1.0,0.0,0.001255,0
32559,-1.215643,4,0.110960,11,-0.420060,4,1,3,4,-0.145920,-0.21666,-1.655225,39,0.0,1.0,1.0,0.0,2.739769,0
32560,0.983734,5,0.929893,11,-0.420060,2,4,5,4,1.888424,-0.21666,-0.035429,39,1.0,0.0,0.0,1.0,0.001255,0

In [13]:
#Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

import numpy as np

# Checking the distribution of 'capital-gain'
print(df['capital_gain'].skew())  # High positive skewness

# Applying log transformation to 'capital-gain'
df['capital-gain_log'] = np.log1p(df['capital_gain'])

# Checking the distribution after transformation
print(df['capital-gain_log'].skew())  # Reduced skewness

# Justification:
# The 'capital-gain' feature is highly right-skewed, with a long tail of high values. 
# This can negatively impact some machine learning models that assume a normal distribution. 
# Applying a log transformation helps reduce the skewness, making the distribution more symmetrical 
# and potentially improving model performance.

11.953847687699787
5.90026949312501

In [14]:
#Use the Isolation Forest algorithm to identify and remove outliers:

from sklearn.ensemble import IsolationForest

# Creating an IsolationForest model
iso_forest = IsolationForest(contamination=0.01)  # Adjust contamination as needed

# Fitting the model and predicting outliers
outliers = iso_forest.fit_predict(df)

# Removing outliers from the DataFrame
df = df[outliers != -1]
df

C:\Users\nazim\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K,hours_per_week_squared,is_high_education,capital-gain_log
0,0.030671,7,-1.063611,9,1.134739,4,1,1,4,0.148453,-0.21666,-0.035429,39,0.0,1.0,1.0,0.0,0.001255,0,0.138416
1,0.837109,6,-1.008707,9,1.134739,2,4,0,4,-0.145920,-0.21666,-2.222153,39,0.0,1.0,1.0,0.0,4.937964,0,-0.157731
2,-0.042642,4,0.245079,11,-0.420060,0,6,1,4,-0.145920,-0.21666,-0.035429,39,0.0,1.0,1.0,0.0,0.001255,0,-0.157731
3,1.057047,4,0.425801,1,-1.197459,2,6,0,2,-0.145920,-0.21666,-0.035429,39,0.0,1.0,1.0,0.0,0.001255,0,-0.157731
4,-0.775768,4,1.408176,9,1.134739,2,10,5,2,-0.145920,-0.21666,-0.035429,5,1.0,0.0,1.0,0.0,0.001255,0,-0.157731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,-0.849080,4,0.639741,7,0.746039,2,13,5,4,-0.145920,-0.21666,-0.197409,39,1.0,0.0,1.0,0.0,0.038970,0,-0.157731
32557,0.103983,4,-0.335433,11,-0.420060,2,7,0,4,-0.145920,-0.21666,-0.035429,39,0.0,1.0,0.0,1.0,0.001255,0,-0.157731
32558,1.423610,4,-0.358777,11,-0.420060,6,1,4,4,-0.145920,-0.21666,-0.035429,39,1.0,0.0,1.0,0.0,0.001255,0,-0.157731
32559,-1.215643,4,0.110960,11,-0.420060,4,1,3,4,-0.145920,-0.21666,-1.655225,39,0.0,1.0,1.0,0.0,2.739769,0,-0.157731
32560,0.983734,5,0.929893,11,-0.420060,2,4,5,4,1.888424,-0.21666,-0.035429,39,1.0,0.0,0.0,1.0,0.001255,0,1.060711

In [ ]:
Discuss how outliers can affect model performance (e.g., biasing the model or reducing generalization) in df dataset from above isolation forest

# Outliers can significantly impact model performance in several ways:

# 1. Bias: 
# Outliers, being extreme values, can disproportionately influence the model's parameters during training. 
# This can lead to a biased model that performs well on the outliers but poorly on the majority of the data. 
# For instance, in a linear regr ession model, a single outlier can significantly alter the slope of the regression line.

# 2. Reduced Generalization:
# Outliers can cause the model to overfit to the training data, reducing its ability to generalize to unseen data. 
# The model might learn to capture the specific patterns of the outliers, which might not be representative of the overall population.

# 3. Increased Variance:
# In some models, outliers can increase the variance of the model's predictions, making them less reliable. 
# This is particularly true for models sensitive to extreme values, such as those based on distance calculations (e.g., k-nearest neighbors).

# In the context of the provided Isolation Forest model, removing the outliers (identified as -1) aims to mitigate these issues. 
# By focusing on the "normal" data points, the model is expected to learn more representative patterns and improve its generalization performance on unseen data.

# However, it's crucial to note that outlier removal is not always the best solution. 
# In some cases, outliers might contain valuable information or indicate rare but important events. 
# The decision to remove outliers should be based on a careful analysis of the data and the specific problem being addressed.

In [16]:


import ppscore as pps

# Calculate the Predictive Power Score matrix
matrix = pps.matrix(df)

# Display the matrix
print(matrix)

# Calculate the correlation matrix
corr_matrix = df.corr()

# Display the correlation matrix
print(corr_matrix)

# Compare PPS and correlation for selected features
print("PPS for 'education' predicting 'income':", matrix.loc['education', 'occupation'])
print("Correlation between 'education' and 'income':", corr_matrix.loc['education', 'occupation'])

                    x                       y  ppscore            case  \
0                 age                     age      1.0  predict_itself
1                 age               workclass      0.0      regression
2                 age                  fnlwgt      0.0      regression
3                 age               education      0.0      regression
4                 age           education_num      0.0      regression
..                ...                     ...      ...             ...
395  capital-gain_log           income_ <=50K      0.0      regression
396  capital-gain_log            income_ >50K      0.0      regression
397  capital-gain_log  hours_per_week_squared      0.0      regression
398  capital-gain_log       is_high_education      0.0      regression
399  capital-gain_log        capital-gain_log      1.0  predict_itself

     is_valid_score               metric  baseline_score  model_score  \
0              True                 None        0.000000     1.000000
1              True  mean absolute error        0.744800     0.873953
2              True  mean absolute error        0.725655     0.741833
3              True  mean absolute error        2.713000     2.758988
4              True  mean absolute error        0.729356     0.743143
..              ...                  ...             ...          ...
395            True  mean absolute error        0.239800     0.300483
396            True  mean absolute error        0.239800     0.300483
397            True  mean absolute error        0.964759     1.280123
398            True  mean absolute error        0.293000     0.412113
399            True                 None        0.000000     1.000000

                       model
0                       None
1    DecisionTreeRegressor()
2    DecisionTreeRegressor()
3    DecisionTreeRegressor()
4    DecisionTreeRegressor()
..                       ...
395  DecisionTreeRegressor()
396  DecisionTreeRegressor()
397  DecisionTreeRegressor()
398  DecisionTreeRegressor()
399                     None

[400 rows x 9 columns]
                             age  workclass    fnlwgt  education  \
age                     1.000000   0.005320 -0.077061  -0.010599
workclass               0.005320   1.000000 -0.018404   0.022291
fnlwgt                 -0.077061  -0.018404  1.000000  -0.029262
education              -0.010599   0.022291 -0.029262   1.000000
education_num           0.032385   0.050105 -0.044222   0.357237
marital_status         -0.271401  -0.063690  0.028269  -0.037290
occupation             -0.019967   0.251460  0.000868  -0.023027
relationship           -0.269373  -0.092424  0.007212  -0.011781
race                    0.031003   0.051691 -0.023781   0.015751
capital_gain            0.068199   0.031306 -0.006260   0.021014
capital_loss            0.053958   0.012323 -0.010304   0.016976
hours_per_week          0.071464   0.136949 -0.020188   0.055962
native_country          0.007219  -0.006505 -0.055711   0.065846
sex_ Female            -0.093451  -0.095843 -0.027334   0.027900
sex_ Male               0.093451   0.095843  0.027334  -0.027900
income_ <=50K          -0.228861  -0.049190  0.009819  -0.077222
income_ >50K            0.228861   0.049190 -0.009819   0.077222
hours_per_week_squared  0.021095   0.005680 -0.034596  -0.019640
is_high_education      -0.040273  -0.010074 -0.016575   0.685842
capital-gain_log        0.107005   0.033666 -0.006928   0.026014

                        education_num  marital_status  occupation  \
age                          0.032385       -0.271401   -0.019967
workclass                    0.050105       -0.063690    0.251460
fnlwgt                      -0.044222        0.028269    0.000868
education                    0.357237       -0.037290   -0.023027
education_num                1.000000       -0.065906    0.106836
marital_status              -0.065906        1.000000   -0.008162
occupation                   0.106836       -0.008162    1.000000
relationship                -0.097053        0.189715   -0.075978
race                         0.036033       -0.070564    0.007494
capital_gain                 0.100430       -0.043089    0.023289
capital_loss                 0.078530       -0.035952    0.016928
hours_per_week               0.144964       -0.193275    0.075354
native_country               0.059843       -0.024306   -0.011251
sex_ Female                 -0.012956        0.130031   -0.079922
sex_ Male                    0.012956       -0.130031    0.079922
income_ <=50K               -0.327667        0.198621   -0.073780
income_ >50K                 0.327667       -0.198621    0.073780
hours_per_week_squared      -0.008459        0.057258    0.020046
is_high_education            0.217965        0.003438   -0.002410
capital-gain_log             0.137207       -0.065201    0.027833

                        relationship      race  capital_gain  capital_loss  \
age                        -0.269373  0.031003      0.068199      0.053958
workclass                  -0.092424  0.051691      0.031306      0.012323
fnlwgt                      0.007212 -0.023781     -0.006260     -0.010304
education                  -0.011781  0.015751      0.021014      0.016976
education_num              -0.097053  0.036033      0.100430      0.078530
marital_status              0.189715 -0.070564     -0.043089     -0.035952
occupation                 -0.075978  0.007494      0.023289      0.016928
relationship                1.000000 -0.116117     -0.076923     -0.065271
race                       -0.116117  1.000000      0.031616      0.023261
capital_gain               -0.076923  0.031616      1.000000     -0.030922
capital_loss               -0.065271  0.023261     -0.030922      1.000000
hours_per_week             -0.250361  0.047645      0.065074      0.048471
native_country             -0.000547  0.127604      0.023939      0.009070
sex_ Female                 0.580789 -0.088435     -0.065075     -0.049399
sex_ Male                  -0.580789  0.088435      0.065075      0.049399
income_ <=50K               0.260487 -0.081556     -0.210951     -0.148722
income_ >50K               -0.260487  0.081556      0.210951      0.148722
hours_per_week_squared      0.015209  0.040354     -0.008667     -0.008183
is_high_education           0.015552  0.010518      0.019365      0.016000
capital-gain_log           -0.103269  0.040845      0.849777     -0.051367

                        hours_per_week  native_country  sex_ Female  \
age                           0.071464        0.007219    -0.093451
workclass                     0.136949       -0.006505    -0.095843
fnlwgt                       -0.020188       -0.055711    -0.027334
education                     0.055962        0.065846     0.027900
education_num                 0.144964        0.059843    -0.012956
marital_status               -0.193275       -0.024306     0.130031
occupation                    0.075354       -0.011251    -0.079922
relationship                 -0.250361       -0.000547     0.580789
race                          0.047645        0.127604    -0.088435
capital_gain                  0.065074        0.023939    -0.065075
capital_loss                  0.048471        0.009070    -0.049399
hours_per_week                1.000000        0.001537    -0.231299
native_country                0.001537        1.000000     0.014020
sex_ Female                  -0.231299        0.014020     1.000000
sex_ Male                     0.231299       -0.014020    -1.000000
income_ <=50K                -0.226534       -0.028113     0.223347
income_ >50K                  0.226534        0.028113    -0.223347
hours_per_week_squared        0.072890        0.026571     0.008049
is_high_education            -0.014465        0.025513     0.036630
capital-gain_log              0.090379        0.029768    -0.087198

                        sex_ Male  income_ <=50K  income_ >50K  \
age                      0.093451      -0.228861      0.228861
workclass                0.095843      -0.049190      0.049190
fnlwgt                   0.027334       0.009819     -0.009819
education               -0.027900      -0.077222      0.077222
education_num            0.012956      -0.327667      0.327667
marital_status          -0.130031       0.198621     -0.198621
occupation               0.079922      -0.073780      0.073780
relationship            -0.580789       0.260487     -0.260487
race                     0.088435      -0.081556      0.081556
capital_gain             0.065075      -0.210951      0.210951
capital_loss             0.049399      -0.148722      0.148722
hours_per_week           0.231299      -0.226534      0.226534
native_country          -0.014020      -0.028113      0.028113
sex_ Female             -1.000000       0.223347     -0.223347
sex_ Male                1.000000      -0.223347      0.223347
income_ <=50K           -0.223347       1.000000     -1.000000
income_ >50K             0.223347      -1.000000      1.000000
hours_per_week_squared  -0.008049       0.024999     -0.024999
is_high_education       -0.036630      -0.063785      0.063785
capital-gain_log         0.087198      -0.304443      0.304443

                        hours_per_week_squared  is_high_education  \
age                                   0.021095          -0.040273
workclass                             0.005680          -0.010074
fnlwgt                               -0.034596          -0.016575
education                            -0.019640           0.685842
education_num                        -0.008459           0.217965
marital_status                        0.057258           0.003438
occupation                            0.020046          -0.002410
relationship                          0.015209           0.015552
race                                  0.040354           0.010518
capital_gain                         -0.008667           0.019365
capital_loss                         -0.008183           0.016000
hours_per_week                        0.072890          -0.014465
native_country                        0.026571           0.025513
sex_ Female                           0.008049           0.036630
sex_ Male                            -0.008049          -0.036630
income_ <=50K                         0.024999          -0.063785
income_ >50K                         -0.024999           0.063785
hours_per_week_squared                1.000000           0.030982
is_high_education                     0.030982           1.000000
capital-gain_log                     -0.014916           0.023035

                        capital-gain_log
age                             0.107005
workclass                       0.033666
fnlwgt                         -0.006928
education                       0.026014
education_num                   0.137207
marital_status                 -0.065201
occupation                      0.027833
relationship                   -0.103269
race                            0.040845
capital_gain                    0.849777
capital_loss                   -0.051367
hours_per_week                  0.090379
native_country                  0.029768
sex_ Female                    -0.087198
sex_ Male                       0.087198
income_ <=50K                  -0.304443
income_ >50K                    0.304443
hours_per_week_squared         -0.014916
is_high_education               0.023035
capital-gain_log                1.000000

KeyError: 'income_ <=50K'

In [19]:
pd.DataFrame(matrix)

,x,y,ppscore,case,is_valid_score,metric,baseline_score,model_score,model
0,age,age,1.0,predict_itself,True,None,0.000000,1.000000,None
1,age,workclass,0.0,regression,True,mean absolute error,0.744800,0.873953,DecisionTreeRegressor()
2,age,fnlwgt,0.0,regression,True,mean absolute error,0.725655,0.741833,DecisionTreeRegressor()
3,age,education,0.0,regression,True,mean absolute error,2.713000,2.758988,DecisionTreeRegressor()
4,age,education_num,0.0,regression,True,mean absolute error,0.729356,0.743143,DecisionTreeRegressor()
...,...,...,...,...,...,...,...,...,...
395,capital-gain_log,income_ <=50K,0.0,regression,True,mean absolute error,0.239800,0.300483,DecisionTreeRegressor()
396,capital-gain_log,income_ >50K,0.0,regression,True,mean absolute error,0.239800,0.300483,DecisionTreeRegressor()
397,capital-gain_log,hours_per_week_squared,0.0,regression,True,mean absolute error,0.964759,1.280123,DecisionTreeRegressor()
398,capital-gain_log,is_high_education,0.0,regression,True,mean absolute error,0.293000,0.412113,DecisionTreeRegressor()
399,capital-gain_log,capital-gain_log,1.0,predict_itself,True,None,0.000000,1.000000,None

In [18]:
pd.DataFrame(corr_matrix)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_ Female,sex_ Male,income_ <=50K,income_ >50K,hours_per_week_squared,is_high_education,capital-gain_log
age,1.000000,0.005320,-0.077061,-0.010599,0.032385,-0.271401,-0.019967,-0.269373,0.031003,0.068199,0.053958,0.071464,0.007219,-0.093451,0.093451,-0.228861,0.228861,0.021095,-0.040273,0.107005
workclass,0.005320,1.000000,-0.018404,0.022291,0.050105,-0.063690,0.251460,-0.092424,0.051691,0.031306,0.012323,0.136949,-0.006505,-0.095843,0.095843,-0.049190,0.049190,0.005680,-0.010074,0.033666
fnlwgt,-0.077061,-0.018404,1.000000,-0.029262,-0.044222,0.028269,0.000868,0.007212,-0.023781,-0.006260,-0.010304,-0.020188,-0.055711,-0.027334,0.027334,0.009819,-0.009819,-0.034596,-0.016575,-0.006928
education,-0.010599,0.022291,-0.029262,1.000000,0.357237,-0.037290,-0.023027,-0.011781,0.015751,0.021014,0.016976,0.055962,0.065846,0.027900,-0.027900,-0.077222,0.077222,-0.019640,0.685842,0.026014
education_num,0.032385,0.050105,-0.044222,0.357237,1.000000,-0.065906,0.106836,-0.097053,0.036033,0.100430,0.078530,0.144964,0.059843,-0.012956,0.012956,-0.327667,0.327667,-0.008459,0.217965,0.137207
marital_status,-0.271401,-0.063690,0.028269,-0.037290,-0.065906,1.000000,-0.008162,0.189715,-0.070564,-0.043089,-0.035952,-0.193275,-0.024306,0.130031,-0.130031,0.198621,-0.198621,0.057258,0.003438,-0.065201
occupation,-0.019967,0.251460,0.000868,-0.023027,0.106836,-0.008162,1.000000,-0.075978,0.007494,0.023289,0.016928,0.075354,-0.011251,-0.079922,0.079922,-0.073780,0.073780,0.020046,-0.002410,0.027833
relationship,-0.269373,-0.092424,0.007212,-0.011781,-0.097053,0.189715,-0.075978,1.000000,-0.116117,-0.076923,-0.065271,-0.250361,-0.000547,0.580789,-0.580789,0.260487,-0.260487,0.015209,0.015552,-0.103269
race,0.031003,0.051691,-0.023781,0.015751,0.036033,-0.070564,0.007494,-0.116117,1.000000,0.031616,0.023261,0.047645,0.127604,-0.088435,0.088435,-0.081556,0.081556,0.040354,0.010518,0.040845
capital_gain,0.068199,0.031306,-0.006260,0.021014,0.100430,-0.043089,0.023289,-0.076923,0.031616,1.000000,-0.030922,0.065074,0.023939,-0.065075,0.065075,-0.210951,0.210951,-0.008667,0.019365,0.849777
capital_loss,0.053958,0.012323,-0.010304,0.016976,0.078530,-0.035952,0.016928,-0.065271,0.023261,-0.030922,1.000000,0.048471,0.009070,-0.049399,0.049399,-0.148722,0.148722,-0.008183,0.016000,-0.051367
hours_per_week,0.071464,0.136949,-0.020188,0.055962,0.144964,-0.193275,0.075354,-0.250361,0.047645,0.065074,0.048471,1.000000,0.001537,-0.231299,0.231299,-0.226534,0.226534,0.072890,-0.014465,0.090379
native_country,0.007219,-0.006505,-0.055711,0.065846,0.059843,-0.024306,-0.011251,-0.000547,0.127604,0.023939,0.009070,0.001537,1.000000,0.014020,-0.014020,-0.028113,0.028113,0.026571,0.025513,0.029768
sex_ Female,-0.093451,-0.095843,-0.027334,0.027900,-0.012956,0.130031,-0.079922,0.580789,-0.088435,-0.065075,-0.049399,-0.231299,0.014020,1.000000,-1.000000,0.223347,-0.223347,0.008049,0.036630,-0.087198
sex_ Male,0.093451,0.095843,0.027334,-0.027900,0.012956,-0.130031,0.079922,-0.580789,0.088435,0.065075,0.049399,0.231299,-0.014020,-1.000000,1.000000,-0.223347,0.223347,-0.008049,-0.036630,0.087198
income_ <=50K,-0.228861,-0.049190,0.009819,-0.077222,-0.327667,0.198621,-0.073780,0.260487,-0.081556,-0.210951,-0.148722,-0.226534,-0.028113,0.223347,-0.223347,1.000000,-1.000000,0.024999,-0.063785,-0.304443
income_ >50K,0.228861,0.049190,-0.009819,0.077222,0.327667,-0.198621,0.073780,-0.260487,0.081556,0.210951,0.148722,0.226534,0.028113,-0.223347,0.223347,-1.000000,1.000000,-0.024999,0.063785,0.304443
hours_per_week_squared,0.021095,0.005680,-0.034596,-0.019640,-0.008459,0.057258,0.020046,0.015209,0.040354,-0.008667,-0.008183,0.072890,0.026571,0.008049,-0.008049,0.024999,-0.024999,1.000000,0.030982,-0.014916
is_high_education,-0.040273,-0.010074,-0.016575,0.685842,0.217965,0.003438,-0.002410,0.015552,0.010518,0.019365,0.016000,-0.014465,0.025513,0.036630,-0.036630,-0.063785,0.063785,0.030982,1.000000,0.023035
capital-gain_log,0.107005,0.033666,-0.006928,0.026014,0.137207,-0.065201,0.027833,-0.103269,0.040845,0.849777,-0.051367,0.090379,0.029768,-0.087198,0.087198,-0.304443,0.304443,-0.014916,0.023035,1.000000

In [20]:
print("Correlation between 'education' and 'income':", corr_matrix.loc['education', 'occupation'])

Correlation between 'education' and 'income': -0.023026585874591252

In [ ]:
'' Discussion:

 The Predictive Power Score (PPS) and correlation matrix provide different perspectives on feature relationships.

- Correlation: Measures the linear association between two variables. A high correlation indicates a strong linear relationship, 
   but it doesn't necessarily imply that one variable predicts the other well.

- PPS: Measures how well one feature can predict another, considering both linear and non-linear relationships. 
  A high PPS indicates strong predictive power, even if the correlation is low.

 By comparing PPS and correlation, we gain a more comprehensive understanding of feature relationships and their potential for predictive modeling. 
 PPS can reveal valuable non-linear relationships that correlation might overlook, guiding feature selection and model development.